#container > div {
    display: flex;
}
#container > div:nth-child(1) > button:nth-child(8) {
    position: relative;
    bottom: -50px;
    left: -1264px;
    padding-left: 613px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 613px;
   }
   #lista {
    position: relative;
    bottom: -81px;
    display: block;
   }

     